* * * * * sleep 1; 
* * * * * sleep 2; /var/app_qalet/master/secCron.sh
* * * * * sleep 3; /var/app_qalet/master/secCron.sh
* * * * * sleep 4; /var/app_qalet/master/secCron.sh
* * * * * sleep 5; /var/app_qalet/master/secCron.sh
* * * * * sleep 6; /var/app_qalet/master/secCron.sh
* * * * * sleep 7; /var/app_qalet/master/secCron.sh
* * * * * sleep 8; /var/app_qalet/master/secCron.sh
* * * * * sleep 9; /var/app_qalet/master/secCron.sh
* * * * * sleep 10; /var/app_qalet/master/secCron.sh
* * * * * sleep 11; /var/app_qalet/master/secCron.sh
* * * * * sleep 12; /var/app_qalet/master/secCron.sh
* * * * * sleep 13; /var/app_qalet/master/secCron.sh
* * * * * sleep 14; /var/app_qalet/master/secCron.sh
* * * * * sleep 15; /var/app_qalet/master/secCron.sh
* * * * * sleep 16; /var/app_qalet/master/secCron.sh
* * * * * sleep 17; /var/app_qalet/master/secCron.sh
* * * * * sleep 18; /var/app_qalet/master/secCron.sh
* * * * * sleep 19; /var/app_qalet/master/secCron.sh
* * * * * sleep 20; /var/app_qalet/master/secCron.sh
* * * * * sleep 21; /var/app_qalet/master/secCron.sh
* * * * * sleep 22; /var/app_qalet/master/secCron.sh
* * * * * sleep 23; /var/app_qalet/master/secCron.sh
* * * * * sleep 24; /var/app_qalet/master/secCron.sh
* * * * * sleep 25; /var/app_qalet/master/secCron.sh
* * * * * sleep 26; /var/app_qalet/master/secCron.sh
* * * * * sleep 27; /var/app_qalet/master/secCron.sh
* * * * * sleep 28; /var/app_qalet/master/secCron.sh
* * * * * sleep 29; /var/app_qalet/master/secCron.sh
* * * * * sleep 30; /var/app_qalet/master/secCron.sh
* * * * * sleep 31; /var/app_qalet/master/secCron.sh
* * * * * sleep 32; /var/app_qalet/master/secCron.sh
* * * * * sleep 33; /var/app_qalet/master/secCron.sh
* * * * * sleep 34; /var/app_qalet/master/secCron.sh
* * * * * sleep 35; /var/app_qalet/master/secCron.sh
* * * * * sleep 36; /var/app_qalet/master/secCron.sh
* * * * * sleep 37; /var/app_qalet/master/secCron.sh
* * * * * sleep 38; /var/app_qalet/master/secCron.sh
* * * * * sleep 39; /var/app_qalet/master/secCron.sh
* * * * * sleep 40; /var/app_qalet/master/secCron.sh
* * * * * sleep 41; /var/app_qalet/master/secCron.sh
* * * * * sleep 42; /var/app_qalet/master/secCron.sh
* * * * * sleep 43; /var/app_qalet/master/secCron.sh
* * * * * sleep 44; /var/app_qalet/master/secCron.sh
* * * * * sleep 45; /var/app_qalet/master/secCron.sh
* * * * * sleep 46; /var/app_qalet/master/secCron.sh
* * * * * sleep 47; /var/app_qalet/master/secCron.sh
* * * * * sleep 48; /var/app_qalet/master/secCron.sh
* * * * * sleep 49; /var/app_qalet/master/secCron.sh
* * * * * sleep 50; /var/app_qalet/master/secCron.sh
* * * * * sleep 51; /var/app_qalet/master/secCron.sh
* * * * * sleep 52; /var/app_qalet/master/secCron.sh
* * * * * sleep 53; /var/app_qalet/master/secCron.sh
* * * * * sleep 54; /var/app_qalet/master/secCron.sh
* * * * * sleep 55; /var/app_qalet/master/secCron.sh
* * * * * sleep 56; /var/app_qalet/master/secCron.sh
* * * * * sleep 57; /var/app_qalet/master/secCron.sh
* * * * * sleep 58; /var/app_qalet/master/secCron.sh
* * * * * sleep 59; /var/app_qalet/master/secCron.sh
