# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name command to be executed
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#

@reboot root /var/app_qalet/master/bootup.sh

# -- second cron ---
* * * * * /var/app_qalet/master/secCron.sh 
* * * * * sleep 1; /var/app_qalet/master/secCron.sh
* * * * * sleep 2; /var/app_qalet/master/secCron.sh
* * * * * sleep 3; /var/app_qalet/master/secCron.sh
* * * * * sleep 4; /var/app_qalet/master/secCron.sh
* * * * * sleep 5; /var/app_qalet/master/secCron.sh
* * * * * sleep 6; /var/app_qalet/master/secCron.sh
* * * * * sleep 7; /var/app_qalet/master/secCron.sh
* * * * * sleep 8; /var/app_qalet/master/secCron.sh
* * * * * sleep 9; /var/app_qalet/master/secCron.sh
* * * * * sleep 10; /var/app_qalet/master/secCron.sh
* * * * * sleep 11; /var/app_qalet/master/secCron.sh
* * * * * sleep 12; /var/app_qalet/master/secCron.sh
* * * * * sleep 13; /var/app_qalet/master/secCron.sh
* * * * * sleep 14; /var/app_qalet/master/secCron.sh
* * * * * sleep 15; /var/app_qalet/master/secCron.sh
* * * * * sleep 16; /var/app_qalet/master/secCron.sh
* * * * * sleep 17; /var/app_qalet/master/secCron.sh
* * * * * sleep 18; /var/app_qalet/master/secCron.sh
* * * * * sleep 19; /var/app_qalet/master/secCron.sh
* * * * * sleep 20; /var/app_qalet/master/secCron.sh
* * * * * sleep 21; /var/app_qalet/master/secCron.sh
* * * * * sleep 22; /var/app_qalet/master/secCron.sh
* * * * * sleep 23; /var/app_qalet/master/secCron.sh
* * * * * sleep 24; /var/app_qalet/master/secCron.sh
* * * * * sleep 25; /var/app_qalet/master/secCron.sh
* * * * * sleep 26; /var/app_qalet/master/secCron.sh
* * * * * sleep 27; /var/app_qalet/master/secCron.sh
* * * * * sleep 28; /var/app_qalet/master/secCron.sh
* * * * * sleep 29; /var/app_qalet/master/secCron.sh
* * * * * sleep 30; /var/app_qalet/master/secCron.sh
* * * * * sleep 31; /var/app_qalet/master/secCron.sh
* * * * * sleep 32; /var/app_qalet/master/secCron.sh
* * * * * sleep 33; /var/app_qalet/master/secCron.sh
* * * * * sleep 34; /var/app_qalet/master/secCron.sh
* * * * * sleep 35; /var/app_qalet/master/secCron.sh
* * * * * sleep 36; /var/app_qalet/master/secCron.sh
* * * * * sleep 37; /var/app_qalet/master/secCron.sh
* * * * * sleep 38; /var/app_qalet/master/secCron.sh
* * * * * sleep 39; /var/app_qalet/master/secCron.sh
* * * * * sleep 40; /var/app_qalet/master/secCron.sh
* * * * * sleep 41; /var/app_qalet/master/secCron.sh
* * * * * sleep 42; /var/app_qalet/master/secCron.sh
* * * * * sleep 43; /var/app_qalet/master/secCron.sh
* * * * * sleep 44; /var/app_qalet/master/secCron.sh
* * * * * sleep 45; /var/app_qalet/master/secCron.sh
* * * * * sleep 46; /var/app_qalet/master/secCron.sh
* * * * * sleep 47; /var/app_qalet/master/secCron.sh
* * * * * sleep 48; /var/app_qalet/master/secCron.sh
* * * * * sleep 49; /var/app_qalet/master/secCron.sh
* * * * * sleep 50; /var/app_qalet/master/secCron.sh
* * * * * sleep 51; /var/app_qalet/master/secCron.sh
* * * * * sleep 52; /var/app_qalet/master/secCron.sh
* * * * * sleep 53; /var/app_qalet/master/secCron.sh
* * * * * sleep 54; /var/app_qalet/master/secCron.sh
* * * * * sleep 55; /var/app_qalet/master/secCron.sh
* * * * * sleep 56; /var/app_qalet/master/secCron.sh
* * * * * sleep 57; /var/app_qalet/master/secCron.sh
* * * * * sleep 58; /var/app_qalet/master/secCron.sh
* * * * * sleep 59; /var/app_qalet/master/secCron.sh
