* * * * * sleep 1; 
* * * * * sleep 2; /var/app_qalet/master/cron.sh
* * * * * sleep 3; /var/app_qalet/master/cron.sh
* * * * * sleep 4; /var/app_qalet/master/cron.sh
* * * * * sleep 5; /var/app_qalet/master/cron.sh
