body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:2em;}
.error-actions .btn { margin-right:10px; }
.error-color { color: red}

.body-template {padding: 40px 15px;text-align: left;}
.body-actions {margin-top:15px;margin-bottom:2em;}
.body-actions .btn { margin-right:10px; }

footer {
  position: absolute;
  margin: 0;
  padding: 0.5em;
  bottom: 0;
  width: 100%;
  height: 2em; /* Set the fixed height of the footer here */
  line-height: 1em; /* Vertically center the text there */
  text-align: center;
  background-color: #eee;
}

.color-bar-opacity { background-color: #222; opacity: 0.6; color: #fff; }
.color-bar-opacity a { color: #fff; }


/*---- overlay and spinner ---*/

.spinner {
   position: absolute;
   left: 50%;
   top: 20%;
   height:60px;
   width:60px;
   margin:0px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid rgba(0,174,239,.15);
   border-right:6px solid rgba(0,174,239,.15);
   border-bottom:6px solid rgba(0,174,239,.15);
   border-top:6px solid rgba(0,174,239,.8);
   border-radius:100%;
}

.section-spinner {
   position: absolute;
   left: 50%;
   top: 10%;
   height:60px;
   width:60px;
   margin:0px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid rgba(0,174,239,.15);
   border-right:6px solid rgba(0,174,239,.15);
   border-bottom:6px solid rgba(0,174,239,.15);
   border-top:6px solid rgba(0,174,239,.8);
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

.overlay_spin_page {
    background: transparent;  position: fixed;
    height: 100%; width: 100%;
    z-index: 5009;
    top: 0; left: 0;
    float: left;
    text-align: center;
    padding-top: 0;  opacity: 1
}

.overlay_spin_cover {
    position:fixed;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    z-index:5008;
    width:100%;
    height:100%;
    /* display:none; */
}


.section_spin_page {
    background: transparent;  position: absolute;
    height: 100%; width: 100%;
    z-index: 2;
    top: 0; left: 0;
    text-align: center;
    padding-top: 0;  opacity: 1
}

.section_spin_cover {
    position: absolute;
    top:0; left:0;
    background:rgba(255,255,255,0.6);
    z-index:8000;
    width:100%;
    height:100%;
}


.overlay_popup_page {
    background: transparent; position: fixed;
    height: 100%; width: 100%;
    z-index: 5001;
    top: 0; left: 0;
    float: left;
    text-align: center;
    padding-top: 6em;
    opacity: 1
}
.overlay_popup_cover {
    position:fixed;
    top:0;
    left:0;
    background:rgba(200,200,200,0.8);
    z-index:5000;
    width:100%;
    height:100%;
}
.copyright_section {
    position: absolute;
    left: 0;
    top: 0;
    padding : 1em;
    padding-top : 0px;
    width: 100%;
    background-color: transparent;
    color: #666;
    z-index: 4999;
}
